<%- include('./partials/header.ejs')  %> 
<body>
    <%- include('./partials/navbar.ejs')  %> 
    <div class="container">
        <hr>
        <h1 id="tituloPerguntas">DB - Zombie Boladão</h1>
        <hr>
    </div>
</body>
<%- include('./partials/footer.ejs')  %> 