body{
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    background-attachment: fixed;
}

#formulario-pergunta{
    margin-top: 5vh;
}

#tituloPerguntas{
    text-align: center;
}

#score{
    text-align: center;
}

#ranking{
    text-align: center;
}

#pontos{
    text-align: center;   
}

